body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:574px;
}
#u232 {
  position:absolute;
  left:50px;
  top:48px;
  width:800px;
  height:574px;
}
#u233 {
  position:absolute;
  left:2px;
  top:279px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:371px;
  top:442px;
  width:52px;
  height:16px;
}
#u235 {
  position:absolute;
  left:16px;
  top:0px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  position:absolute;
  left:319px;
  top:442px;
  width:47px;
  height:16px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:550px;
  top:442px;
  width:52px;
  height:16px;
}
#u239 {
  position:absolute;
  left:16px;
  top:0px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u240 {
  position:absolute;
  left:456px;
  top:442px;
  width:89px;
  height:16px;
  text-align:right;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u242 {
  position:absolute;
  left:294px;
  top:427px;
  width:300px;
  height:46px;
  color:#FF0000;
}
#u243 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
